.hideme
{
    opacity:0;
}
/*pop_up*/
.pop_in ul{float:left;
	position:relative;}
.submenu{margin-left:40px;
		margin-top:50px;}				
#pop_body{width:100%;
			height:100%;
			position:fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:rgba(0,0,0,0.6);
			display:none;}
.pop_in{width: 900px;
    height: 600px;
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -300px;}

.pop_in a{font-family:"nanum gothic";
			font-size:13px;}
.sub ul{float:Left;}
.nav3 h2{    margin-left: 40px;
    margin-top: 50px;
    font-weight: 600;
    font-family: "nanum gothic";
    width: 90px;}
.nav3{margin-left:10px;}	
.nav3 li:nth-child(3) h2{width:40px;}
.nav3 li:nth-child(5) h2{width:40px;}
.nav3 li:nth-child(6) h2{width:50px;}
.sub7 h2{width:50px;}
.nav3 ul{margin-left:225px;
		position:absolute;
		top:0;
		left:0;
		margin-top:50px;}


.submenu_1 li{padding-top:50px;
			width:300px;}
.submenu1 li{margin-top:50px;}
.submenu1 li:nth-child(1){margin-top:0px;}
.submenu2{padding-left:600px;
			}
.submenu2 li{margin-top:50px;}
.submenu2 li:nth-child(1){margin-top:0px;}
.submenu3{padding-left:900px;}
.submenu3 li{margin-top:50px;}
.submenu3 li:nth-child(1){margin-top:0px;}
.submenu li:nth-child(1) a{font-weight:600;}
.submenu1 li:nth-child(1) a{font-weight:600;}
.submenu2 li:nth-child(1) a{font-weight:600;}
.submenu3 li:nth-child(1) a{font-weight:600;}
.nav3 li:hover h2{color:#54c4be;
					transition:all 0.4s;}
.submenu li:hover a{color:#54c4be;
					border-bottom:1px solid #54c4be;}
.submenu2 li:hover a{
					border-bottom:1px solid #54c4be;}
.nav3 > ul > li:hover a{border-bottom:1px solid #54c4be;}

.sub2 ul{display:none;}
.sub3 ul{display:none;}
.sub4 ul{display:none;}
.sub5 ul{display:none;}
.sub6 ul{display:none;}
.sub7 ul{display:none;}
 .pop_in button{    width: 130px;
    position: absolute;
    height: 40px;
    border: none;
    border-radius: 10px;
    display: block;
    top: 85%;
    left: 50%;
    margin-left: -65px;
    transition: 0.4s;
    background-color: #82d7d0;}
.pop_in button a{font-size:15px;
				
				font-family:"nanumgothic";}
#pop_in2{display:none;
		position:relative;}		
.pop_in2 ul{float: left;
    width: 120px;
    margin-left: 50px;
			}
.submenu li{margin-top: 20px;
    width: 110px;
    margin-left: 10px;}

.pop_in3{position:relative;
		display:none;}
.pop_in3 ul{float:left;
			}
.pop_in3 img{width:400px;}
.pop_in4{position:relative;
		display:none;}
.pop_in4 img{width:330px;}
.pop_in5{position:relative;
		display:none;}
.pop_in6{position:relative;
		display:none;}
.pop_in7{position:relative;
		display:none;}
.pop_in8{position:relative;
			display:none;}
.pop_in5 ul{float:left;
			}
.pop_in5 img{width:330px;}

.pop_in6 ul{float:left;
			}
.submenu li:nth-child(1){margin-top:0px;}
.pop_in6 img{width:400px;}
.pop_in6{position:relative;
		display:none;}

.submenu li:hover a{color:#82d7d0;}
.submenu li a{font-family:"nanumgothic";
			font-size:13px;}
.pop_in8 ul{float:left;
			}

.pop_in7 ul{float:left;
			}
.pop_in7 img{width:330px;}
.pop_in8 img{width:330px;}
.pop_in button:hover{
			color:#fff;}
.sub2 img{width:500px;
		}
.sub2 > .submenu2 li a{margin-left:-50px;}
.sub3 img{width:500px;
		}
.sub3 > .submenu2 li a{margin-left:-50px;}
.sub4 img{width:500px;
		}
.sub4 > .submenu2 li a{margin-left:-50px;}
.sub5 img{width:800px;
		}
.sub5 > .submenu2 li a{margin-left:-350px;}
.sub6 img{width:500px;
		}
.sub6 > .submenu2 li a{margin-left:-50px;}
.sub7 img{width:500px;
		}
.sub7 > .submenu2 li a{margin-left:-50px;}

