*{margin:0; padding:0;
	list-style:none;
	font-family: 'Libre Baskerville', serif;
	font-size:15px;
	font-weight:500;
	color:#000;}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
a{text-decoration:none;
	color:inherit;}
	button{cursor:pointer;}

.clear{content:"";
		display:block;
		clear:both;}
#wrap{width:1400px;
		margin:0 auto;
		overflow:hidden;}
header{width:100%;
		height:170px;}
#menu img{margin-top:40px;
		margin-left:60px;}
#menu{position:absolute;}
#logo{margin-left:588px;
	margin-top:35px;
	position:absolute;}
#account{width:200px;
		margin-left:1233px;
		position:absolute;}
#account h3{font-size:11px;}
#account img{margin-top:40px;
			margin-left:-10px;}
#account h3{margin-left:30px;
		margin-top:-25px;}

#account:hover h3{color:#54c4be;
				transition:all 0.2s;}
#section1 button{transition:all 0.4s;}
#section1 button:hover{background-color:#87d3cf;
				color:#fff;}
nav{width:1400px;
	margin-top:120px;
	position:absolute;
	margin-left:205px;}
.nav li{float:Left;
		margin-left:65px;}
.nav li:nth-child(1){margin-left:0px;}
.nav li h2{font-size:13px;}
.nav li:hover h2{color:#54c4be;
				transition:all 0.2s;
				border-bottom:1px solid #54c4be;}
.nav li:nth-child(7) h2{color:#54c4be;
						border-bottom:1px solid #54c4be;}
#section1{margin-top:55px;
		height:560px;}
.section1_1 h3{position:absolute;
			font-size:30px;
			font-weight:600;
			font-family:"nanum gothic";
			margin-top:90px;
			margin-left:90px;}
.section1_1 p{position:absolute;
			font-size:15px;
			line-height:30px;
			font-family:"nanum gothic";
			margin-top:165px;
			margin-left:90px;
			width:440px;}

.section1_1 button{position:absolute;
				margin-left:90px;
				margin-top:320px;
				width:160px;
				height:32px;
				border:none;
				background-color:#87d3cf;}
.section1_2 h3{position:absolute;
			font-size:30px;
			font-weight:600;
			font-family:"nanum gothic";
			margin-top:230px;
			margin-left:90px;}
.section1_2 p{position:absolute;
			font-size:15px;
			line-height:30px;
			font-family:"nanum gothic";
			margin-top:305px;
			margin-left:90px;
			width:440px;}

.section1_2 button{position:absolute;
				margin-left:90px;
				margin-top:460px;
				width:160px;
				height:32px;
				border:none;
				background-color:#87d3cf;}
.section1_2{position:absolute;
			display:none;}

.btn_box{width:200px;
			height:30px;
			top:0;
			left:0;
			margin-left:905px;
			margin-top:748px;
			position:absolute;
			z-index:3;}
.btn_box h3{width:30px;
				height:30px;}

.btn_box li{float:left;
			width:20px;
			height:20px;
			text-align:center;
			line-height:20px;
			border-radius:75px;
			background-color:#ccc;
			margin-left:20px;}

.btn_box h3{font-size:15px;
			color:#000;
			text-align:center;}
.btn_box li.on{background-color:#64beb9;}
#section2{margin-top:300px;
		height:690px;
		margin-left:90px;
		opacity:0;}
#section2 h3{font-size:25px;
			font-weight:600;
			margin-left:334px;}
#section2 ul{margin-top:50px;
			float:Left;}
.section2_1{width:579px;}
.section2_2{margin-left:35px;}
.section2_2 li img{position:absolute;}
.section2_2 li:nth-child(2){margin-left:309px;}
.section2_2 li:nth-child(3){
							margin-top:317px;}
.section2_2 li:nth-child(4){margin-left:309px;
							margin-top:317px;}
.item1:hover img:nth-child(2){display:none;
								}
.item2:hover img:nth-child(2){display:none;}
.item3:hover img:nth-child(2){display:none;}
.item4:hover img:nth-child(2){display:none;}
.section2_1 p{position:absolute;
				margin-left:20px;
				margin-top:-70px;
				width:530px;
				font-family:"nanum gothic";
				line-height:24px;}
#section3{margin-top:300px;
		height:690px;
		margin-left:90px;
		opacity:0;}
#section3 h3{font-size:25px;
			font-weight:600;
			margin-left:351px;}
#section3 ul{margin-top:50px;
			float:Left;}
.section3_1{width:579px;}
.section3_2{margin-left:35px;}
.section3_2 li img{position:absolute;}
.section3_2 li:nth-child(2){margin-left:309px;}
.section3_2 li:nth-child(3){
							margin-top:317px;}
.section3_2 li:nth-child(4){margin-left:309px;
							margin-top:317px;}
.item1:hover img:nth-child(2){display:none;
								}
.item2:hover img:nth-child(2){display:none;}
.item3:hover img:nth-child(2){display:none;}
.item4:hover img:nth-child(2){display:none;}
.section3_1 p{position:absolute;
				margin-left:20px;
				margin-top:-70px;
				width:530px;
				font-family:"nanum gothic";
				line-height:24px;}
#section4{margin-left:90px;
			margin-top:300px;
			height:730px;
			opacity:0;}
#section4 ul{float:left;
				margin-top:50px;
				width:390px;
				}
#section4 ul:nth-child(1){margin-left:0px;}
.section4_2{margin-left:643px;
			position:absolute;}

.section4_1 li:nth-child(1){position:absolute;
							width:540px;
							height:140px;
							background-color:#fff;
							margin-top:585px;}
.section4_2 li:nth-child(1){position:absolute;
							width:540px;
							height:140px;
							background-color:#fff;
							margin-top:585px;}

.section4_1 h3{font-size:20px;
				font-weight:600;
				font-family:"nanumgothic";
				margin-top:20px;
				margin-left:20px;}
.section4_1 span{font-size:20px;
				font-weight:600;
				font-family:"nanumgothic";
				margin-left:210px;
				position:absolute;
				margin-top:-27px;}
.section4_1 p{font-size:15px;
				width:470px;
				font-family:"nanumgothic";
				margin-left:20px;
				line-height:24px;
				margin-top:20px;}
.section4_2 h3{font-size:20px;
				font-weight:600;
				font-family:"nanumgothic";
				margin-top:20px;
				margin-left:20px;}
.section4_2 span{font-size:20px;
				font-weight:600;
				font-family:"nanumgothic";
				margin-left:190px;
				position:absolute;
				margin-top:-27px;}
.section4_2 p{font-size:15px;
				width:470px;
				font-family:"nanumgothic";
				margin-left:20px;
				line-height:24px;
				margin-top:20px;}

.section4_2 span:hover{cursor:pointer;}
.section4_1 span:hover{cursor:pointer;}
footer{margin-top:150px;}
footer h3{margin-left:90px;}
.footer1 li{margin-left:15px;
			margin-top:-25px;
			float:left;}
.footer1{margin-left:185px;}

.left{margin-top:-20px;}
#line2{margin-left:185px;
		margin-top:-25px;
		position:absolute;}
.footer2{width:100%;
		height:175px;
		background-color:#77c3bd;
		margin-top:35px;}
.footer2 h2{color:#fff;
			font-family:"nanumgothic";}
.footer2 li:nth-child(1){margin-left:185px;}
.footer2 li{margin-left:65px;}
.footer2 li{float:left;
		margin-top:50px;}
.copy span{color:#fff;
			
			font-size:15px;}
	.copy{position:absolute;
			margin-top:-36px;
			margin-left:637px;
			}
#line{margin-top:50px;
		position:absolute;}
footer button{margin-top:50px;
				margin-left:173px;
				background-color:transparent !important;;
			background-image: none !important;
			border-color: transparent;
			border: none;
			color: #FFFFFF;
			overflow:hidden;}
