[user]
	name = “박세리\ngit config --global user.email “seri1998123@gmail.com
	email = ps0512@naver.com
	name = “Seri
[core]
	excludesfile = /Users/alice/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/alice/.stCommitMsg
[credential]
	helper = wincred
